:root {
  --color-white: #fff;
  --color-offwhite: #f5f6f8;
  --color-gray-0: #ebedf0;
  --color-gray-1: #dde0e4;
  --color-gray-2: #c6ced9;
  --color-gray-3: #a4afbd;
  --color-gray-4: #828d9e;
  --color-gray-5: #5b646e;
  --color-gray-6: #333f4c;
  --color-gray-7: #29343f;
  --color-gray-8: #202a32;
  --color-gray-9: #171f25;
  --color-black: #0e1419;

  --color-bluegreen: #abe9cd;
  --color-blue: #3eadcf;
  --color-darkblue: rgb(30, 48, 80);
  --color-orangelight: #ebaf19;
  --color-orange: #e65200;

  --font-family-big: 'Oswald', sans-serif;
  --font-family-default: 'Rubik', sans-serif;
  --font-size-xl: 50px;
  --font-size-lg: 42px;
  --font-size-md: 16px;
  --font-size-sm: 12px;
  --font-size-xs: 8px;

  --global-viewPadding: 20px;

  --gradient-white: linear-gradient(175.6deg, #ffffff 44.98%, #f7f9fa 121.15%);

  --device-mobile: 375px; /* Mobile width */
  --device-tablet: 768px; /* Tablet width */
  --desktop-width: 1024px; /* Desktop width */

  --radius-sm: 0.3rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
  --radius-50: 50%;
}
