.fade--out {
  animation: fadeOut 1s forwards !important;
}

.fade--out-fast {
  animation: fadeOut 0.5s forwards !important;
}

.fade--out-slow {
  animation: fadeOut 2s forwards !important;
}

.fade--in {
  animation: fadeIn 1s forwards !important;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
